In [288]:
import pandas as pd

# Import data

In [289]:
# import the data set
dataSet = pd.read_csv('Zomato Chennai Listing 2020.csv')

# Get info about data

In [290]:
# How many rows and columns

dataSet.shape

(12032, 12)

In [291]:
# Head of the data total Five

dataSet.head()

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

In [292]:
# dataSet information about object, int, float

dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
Zomato URL               12032 non-null object
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null float64
Dining Rating            12032 non-null object
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
Features                 12032 non-null object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB

# Data cleaning

In [293]:
# Remove the columns address and Zomato URL is not wanted

dataSet.drop(['Address', 'Zomato URL'], axis = 1, inplace = True)

In [306]:
# And describe the Category data

dataSet[['Name of Restaurant', 'Location', 'Cuisine',
       'Top Dishes', 'Dining Rating', 'Dining Rating Count',
       'Delivery Rating', 'Delivery Rating Count', 'Features']].describe()

,Name of Restaurant,Location,Cuisine,Top Dishes,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
count,12032,12032,12032,12032,12032,12032,12032,12032,12032
unique,8369,129,2423,2190,35,792,33,2279,1554
top,Amma Unavagam,Porur,['South Indian'],Favourite Dishe,Not provide Dining,Not provide Dining,Not provide Dining,0,"['Home Delivery', 'Indoor Seating']"
freq,78,421,883,9641,5351,5351,5851,5870,2447

In [295]:
# show the unique data in Delivery Rating Count

dataSet['Delivery Rating Count'].value_counts()

Not enough Delivery Reviews    3379
Does not offer Delivery        2252
None                            220
27                               34
60                               30
                               ...
1211                              1
3454                              1
1923                              1
9855                              1
6734                              1
Name: Delivery Rating Count, Length: 2282, dtype: int64

In [296]:
# replace the Delivery Rating Count data for Not enough Delivery Reviews', 'Does not offer Delivery' and 'None' put 0

dataSet['Delivery Rating Count'].replace(to_replace = ['Not enough Delivery Reviews', 'Does not offer Delivery', 'None'], value = '0', inplace = True)

In [297]:
# after replace the Delivery Rating Count data

dataSet['Delivery Rating Count'].value_counts()

0       5870
27        34
37        30
40        30
60        30
        ...
3454       1
1923       1
9855       1
5487       1
6734       1
Name: Delivery Rating Count, Length: 2279, dtype: int64

In [298]:
# some hotel are not provide the Dining table so, replace value

dataSet.replace(to_replace = ['None', 'Does not offer Dining', 'Not enough Dining Reviews'], value ='Not provide Dining',inplace=True)

In [299]:
# see the Unique Top Dishes 

dataSet['Top Dishes'].value_counts()

Invalid                                                                                                                          9641
['Biryani']                                                                                                                        30
['Coffee']                                                                                                                         14
['Chicken Biryani']                                                                                                                12
['Sandwich']                                                                                                                       11
                                                                                                                                 ...
['Bread Halwa', ' Biryani', ' Chicken Grill']                                                                                       1
['Fries', ' Sandwich', ' Thick Shakes']                                                                                             1
['Pepper Prawns']                                                                                                                   1
['Burgers', ' Caramel Donut', ' Death By Chocolate', ' Cappuccino', ' Filtered Coffee', ' Chocolate Donut', ' Hot Chocolate']       1
['Fish', ' Elaneer Payasam', ' Cocktails', ' Mocktails', ' Shawarma', ' Biryani', ' Prawn']                                         1
Name: Top Dishes, Length: 2190, dtype: int64

In [300]:
# Most of the Top Dishes is Invalid so, change the Favourite Dishe. common for all the peoples

dataSet['Top Dishes'].replace(to_replace = 'Invalid', value = 'Favourite Dishe', inplace = True)

In [301]:
# after the replace the data 

dataSet['Top Dishes'].value_counts()

Favourite Dishe                                                                                                                  9641
['Biryani']                                                                                                                        30
['Coffee']                                                                                                                         14
['Chicken Biryani']                                                                                                                12
['Sandwich']                                                                                                                       11
                                                                                                                                 ...
['Bread Halwa', ' Biryani', ' Chicken Grill']                                                                                       1
['Fries', ' Sandwich', ' Thick Shakes']                                                                                             1
['Pepper Prawns']                                                                                                                   1
['Burgers', ' Caramel Donut', ' Death By Chocolate', ' Cappuccino', ' Filtered Coffee', ' Chocolate Donut', ' Hot Chocolate']       1
['Fish', ' Elaneer Payasam', ' Cocktails', ' Mocktails', ' Shawarma', ' Biryani', ' Prawn']                                         1
Name: Top Dishes, Length: 2190, dtype: int64

# Location

In [302]:
# see the unique Location data

dataSet["Location"].value_counts()

Porur                              418
Velachery                          372
Ambattur                           334
T. Nagar                           315
Perungudi                          288
                                  ...
IBIS Chennai, OMR                    1
Liberty Park Hotel, Kodambakkam      1
Hotel Maris, Gopalapuram             1
Novotel Chennai, OMR                 1
The Westin Chennai, Velachery        1
Name: Location, Length: 268, dtype: int64

In [303]:
# Replacing Small regions with Known region name

detectCommaSymbol = dataSet[dataSet['Location'].str.find(",") != -1]['Location']
for x in detectCommaSymbol:
    valSplit = x.split(',')
    dataSet['Location'].replace(to_replace = x, value = " ".join(valSplit[1].split()), inplace = True)

In [304]:
# after replaced

dataSet['Location'].value_counts()

Porur                421
Velachery            421
Ambattur             361
T. Nagar             335
Perungudi            288
                    ...
Sriperumbudur          2
Citadines              2
Grande Bay Resort      2
The Slate              1
East...                1
Name: Location, Length: 129, dtype: int64

In [305]:
# finall data set cleaning

dataSet.to_csv('ZomatoChennai.csv.csv', index=False,header=True)

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Favourite Dishe,350.0,Not provide Dining,Not provide Dining,Not provide Dining,0,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Kolathur,['Sandwich'],Favourite Dishe,350.0,Not provide Dining,Not provide Dining,Not provide Dining,0,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Favourite Dishe,350.0,Not provide Dining,Not provide Dining,Not provide Dining,0,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Favourite Dishe,350.0,Not provide Dining,Not provide Dining,Not provide Dining,0,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Favourite Dishe,350.0,Not provide Dining,Not provide Dining,Not provide Dining,0,"['Breakfast', 'Delivery Only']"